.col-md-4
  .panel.wv-news-item
    .panel-heading
      == #{event.start_date_string}: #{event.name}
    .panel-body.clearfix
      - if event.image?
        %img{:src => event.image_url, :style => 'width: 50%; float: right; padding: 0px 0px 0px 10px'}
      = event.description
    .panel-footer.clearfix
      .wv-wherewhen.pull-left
        = event.full_date_string
        - if event.location?
          %br
          %a{:href => event.location_url}= event.location_title
      .pull-right
        - if event.can_signup?
          %a.btn{:class => 'btn-success', :role => 'button', :href => event.ticket_url}
            Sign up
        - else
          %a.btn{:class => 'btn-primary', :role => 'button', :href => event.ticket_url}
            More info
