!!! 5
:plain
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{:'http-equiv' => "refresh", :content => @groups.count * 8}
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "/css/styleguide.css", :rel => "stylesheet"}/
  %link{:href => "/css/styles.css", :rel => "stylesheet"}/
%body{:style => 'background-color: white'}
  .carousel{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
    .carousel-inner
      - @groups.each_with_index do |group, idx|
        .item{:class => idx == 0 ? 'active' : ''}
          .row
            .col-xs-12
              %h1{:style => "margin-top: 0px"}
                = group["name"].downcase
          .row
            .col-md-5
              - unless group["images"].empty?
                %img{:src => group["images"]["square_500"], :height => '500'}
            .col-md-6
              %p{:style => 'font-size: 2em'}
                = %w(Sundays Mondays Tuesdays Wednesdays Thursdays Fridays Saturdays)[group["day"].to_i]
                at
                == #{group["time"]}
                - if group["signup_capacity"]
                  - spaces = group["signup_capacity"].to_i - group["no_members"]
                  - if spaces <= 0
                    %span.text-danger
                      == -
                      FULL
                  - else
                    %span{:class => spaces < 5 ? "text-warning" : "text-success"}
                      == -
                      = spaces
                      = spaces == 1 ? "space" : "spaces"
                      left
              %p
                - unless group["location"].empty?
                  %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=SO239NP&zoom=9&size=600x360&maptype=roadmap&markers=color:red%7C'+group["location"]["address"]+'&sensor=false', :height => '360'}
              %p{:style => 'font-size: 2em'}= group["description"].match(/^(.*?)[.?!]\s/)
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/bootstrap.min.js"}
