!!! 5
:plain
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  -#%meta{:'http-equiv' => "refresh", :content => @groups.count * 8}
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "/css/styleguide.css", :rel => "stylesheet"}/
  %link{:href => "/css/styles.css", :rel => "stylesheet"}/
%body{:style => 'background-color: white'}
  #groups-carousel.carousel{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
    .carousel-inner
      - @groups.select(&:visible?).each_with_index do |group, idx|
        .item{:class => idx == 0 ? 'active' : ''}
          .row
            .col-xs-12
              %h1{:style => "font-family: 'HelveticaNeue-Light'; font-size: 4em; margin-top: 0px"}
                = group.name
          .row
            .col-md-6
              - if group.image?
                %img{:src => group.image, :width => '500'}
            .col-md-6
              %p{:style => 'font-size: 2em'}
                = group.day
                at
                = group.time
                - if group.signup?
                  - if group.full?
                    %span.text-danger
                      == -
                      FULL
                  - else
                    %span{:class => group.spaces < 5 ? "text-warning" : "text-success"}
                      == -
                      = group.spaces
                      = group.spaces == 1 ? "space" : "spaces"
                      left
              %p
                - if group.location?
                  %img{:src => 'http://maps.googleapis.com/maps/api/staticmap?center=SO239NP&zoom=9&size=600x360&maptype=roadmap&markers=color:red%7C' + group.address + '&sensor=false', :height => '360'}
              %p{:style => 'font-size: 2em'}= group.first_sentence
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/bootstrap.min.js"}
