#wv-home
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{:role => 'navigation'}
      .navbar-header
        %button.navbar-toggle{:type => "button", :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => '/'}
          %img{:src => '/images/logo-400w-white-on-clear.png', :style=> 'margin-top: 13px; height: 33px'}
      .navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => '#wv-sundays'} Sundays
          %li
            %a{:href => '#wv-news'} What's on
          %li
            %a{:href => '/keepconnected'} Connect
          %li
            %a{:href => '/lifegroups'} Life groups
          %li
            %a{:href => '/storehouse'} Storehouse
          %li
            %a{:href => '/resources'} Resources
          %li
            %a{:href => '#wv-talks'} Talks
          %li
            %a{:href => 'http://winvin.churchsuite.co.uk/my'} My Church Suite
          %li
            %a{:href => '/donate'} Donate
          %li
            %a{:href => '#wv-team'} Contact

.carousel.slide{:'data-ride' => 'carousel', :'data-interval' => '8000', :'data-pause' => 'false'}
  .carousel-inner
    - (0..4).to_a.shuffle.each_with_index do |x, idx|
      .item{:class => idx == 0 ? 'active' : ''}
        %img{:src => "/images/photos/carousel/#{x}.jpg"}
        .carousel-caption
          %p.caption-title
            We are Winchester Vineyard Church: people who are
            getting to know Jesus better
            and bringing hope and life into our communities.
          %p.caption-meet
            Our Sunday Services and other activities are currently all happening online - 
            %a{:href => 'http://www.winvin.org.uk/keepconnected'} Connect In here
#hellobar
  - if @hellobar.first.present?
    = haml :_hellobar, locals: { text: @hellobar.first, link: @hellobar.last }

%section#wv-sundays
  .shadow
  .container
    .row
      .col-md-12
        %h1 sundays - what to expect
        %p You're really welcome to join us on a Sunday whether you are a church regular or have never been before. Our services start at 10.30am. It is a relaxed and informal atmosphere and anyone is welcome to come along. Our Sunday Services and weekly activities have all moved online due to Coronavirus.
        %p
          You can find our <b>Sunday Livestream</b> on our 
          %a{:href => 'https://www.facebook.com/winchestervineyardchurch/'} Facebook Page. 
          If you are not on Facebook, you can 
          %a{:href => '/live'} click here 
          to watch.
        %p 
          All our previous LiveStreams are on our
          %a{:href => 'https://www.youtube.com/channel/UCrz4VsDe4tuh3A8IhWT7ztA/'} YouTube channel
        %p 
          You can find out about everything going on on our 
          %a{:href => '/keepconnected'} Keep Connected page
        %p 
          And plenty of helpful and inspiring 
          %a{:href => '/resources'} Resources here
        %p 
          Are you new to church? Why not visit our 
          %a{:href => '/welcome'} welcome page
          and please do 
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Hello'} email us 
          if you would like a phonecall from one of our friendly team
        %p
          Want to find out more?
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Hello'} Email us with any queries &raquo;
    .row
      .col-md-4
        %h3 we launch with worship
        %img{:src => '/images/photos/areas/sunday/worship.jpg'}
        %p Connecting with God is central to what we do. A live band leads us for about 25 minutes of sung worship. The words are on the screen and you can join in or just sit back and listen.
      .col-md-4
        %h3 learn together
        %img{:src => '/images/photos/areas/sunday/insight.jpg'}
        %p
          We have a talk based on the Bible and our experience of Jesus. It's not just theory; the talks are relevant to our day to day lives and there are always things to put into practice.
        %p
          %a{:href => '#wv-talks'} Listen to recordings of past talks &raquo;
          %br
          %a{:href => '/yobl'} Year of biblical literacy &raquo;
      .col-md-4
        %h3 and make a response
        %img{:src => '/images/photos/areas/sunday/response.jpg'}
        %p At the end of the talk we reflect on what we have heard and respond. There is the opportunity to choose to follow Jesus or to receive prayer. There is no pressure to participate, but always the chance to respond if you wish.
    .row
      .col-sm-4
        %h3 kids' church
        %img{:src => '/images/photos/areas/sunday/kids-church.jpg'}
        %p During our morning service, we run age-appropriate interactive groups for 0-11s so they can learn about Jesus in a safe and fun environment. Our volunteer welcome team at the door can help your family settle in the right places. You can sign your children into their groups from 10.20am.
      .col-sm-4
        %h3 youth
        %img{:src => '/images/photos/youth.jpg'}
        %p During our morning service, our youth (11-18s) meet after worship in the Youth Café. We play games and eat chocolate, whilst learning what it means to follow Jesus as a teenager today.
      .col-sm-4
        %h3 finding out more
        %img{:src => '/images/photos/areas/sunday/coffee.jpg'}
        %p If it's your first visit we'd love to meet you! You can join some of our team in the connect area to have a coffee and ask any questions.
    .row
      .col-xs-12
        %h3 kids are safe here
        %p
          We value the importance of security and safety and are committed to the safeguarding of all children in our care, with all leaders and helpers fully DBS checked. We encourage all parents, guardians and carers to take a copy of our Safeguarding Policy for their own information. Our Safeguarding Officer can be contacted at
          %a{:href => 'mailto:safeguarding@winvin.org.uk'} safeguarding@winvin.org.uk.


%section#wv-news
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 what's on
          %br
        - if @featured_events.size >= 3
          .row
            .col-sm-12
              .row
                - @featured_events.first(3).each do |event|
                  = haml :_event, locals: { event: event }
        - if @featured_events.size >= 6
          .row
            .col-sm-12
              .row
                - @featured_events[3..5].each do |event|
                  = haml :_event, locals: { event: event }
        .row
          .col-xs-12
            .calendar
              :plain
                <iframe frameborder="0" height="600" src="https://winvin.churchsuite.co.uk/embed/calendar?bgcolor=ffffff" style="border-width:0" width="100%"></iframe>
            %br

%section#wv-community
  .shadow
  .container
    .row
      .col-md-6.col-lg-7
        %h1 life groups
        %p Our Life Groups are at the heart of our church. They meet in people's homes in Winchester and the surrounding areas. They are a great place to get to know others, share both the big and the small things of life, and learn to do the things Jesus did.
        %p Groups run on a termly basis, with some groups lasting just a term and other groups lasting longer. You are welcome to continue going to the same group for several terms.

        %h2 how to join a life group
        = haml :_group_blurb, locals: { term: @term }

        %p
          %a.btn.btn-primary{:href => '/lifegroups'} View the list of life groups &raquo;
      #flickr.hidden-xs.hidden-sm.col-md-4.col-md-offset-1
        %img{:src => "/images/photos/areas/community/life-group.jpg"}
        %img{:src => "/images/photos/areas/community/family-fun-day.jpg"}
        %img{:src => "/images/photos/areas/community/quiz-night.jpg"}

- FOUR_WEEKS = 60 * 60 * 24 * 28
- groups = @talks.partition {|t| t.date > Time.now - FOUR_WEEKS}
%section#wv-talks
  .shadow
  .container
    .row
      .col-xs-12
        .wv-caption
          %h1 talk downloads
          %p We record every talk we give on Sunday, and a number of the talks that are delivered during the week and at special events.
          %p
            %strong Within the last month
        .row#wv-talks-within-last-month
          - groups.first.each do |talk|
            = haml :_talk_item, locals: { talk: talk }
        .wv-caption
          %p
            %strong
              %a{:'data-toggle' => 'collapse', :href => '#wv-talks-older', :'aria-expanded' => 'false', :'aria-controls' => 'wv-talks-older'} See older talks
        .row.collapse#wv-talks-older
          - groups.last.each do |talk|
            = haml :_talk_item, locals: { talk: talk }

%section#wv-compassion
  .shadow
  .container
    .row
      .col-md-12
        %h1 compassion
        %p We live out our faith in Jesus by practically serving the needs of people in our city through our Storehouse, Street Teams and partner initiatives.
    .row
      .col-md-4
        %h3 clothing and equipment
        %img{:src => '/images/photos/areas/what-we-do/store-house.jpg'}
        %p
          The Storehouse provide free good quality children’s clothes and equipment to those in need. We run a voucher system and accept referrals from statutory organisations across the area. Please get in touch if you need our services or want to donate 'as new' goods.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Storehouse - clothing and equipment'} Get in touch &raquo;
      .col-md-4
        %h3 food and household
        %img{:src => '/images/photos/areas/what-we-do/store-house-food-and-household.jpg'}
        %p
          The Storehouse reach out to serve those in need by providing simple bags of groceries, household items or essential toiletries. To get involved: "grab a bag, fill a bag, give a bag!" All you need to do is pick up a bag on a Sunday and bring it back full.
        %p
          %a{:href => 'https://s3-eu-west-1.amazonaws.com/winchester-vineyard-website-assets/uploads/fs-full-list.pdf'} Download a shopping list &raquo;
      .col-md-4
        %h3 seasonal initiatives
        %img{:src => '/images/photos/areas/what-we-do/store-house-seasonal-initiatives.jpg'}
        %p
          The Storehouse run various seasonal initiatives such as our school uniform appeal. At Christmas we collect Shoe Boxes for Operation Christmas Child, run a Toy Fair, give away Christmas hampers, and provide parcels for homeless in Winchester.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Storehouse - seasonal initiatives'} Get involved &raquo;
    .row
      .col-md-12
        %p
          We also deliver fresh food fortnightly to people who need it, in partnership with Fare Share, and we run basic cookery courses to help people develop new skills and confidence.
    .row
      .col-md-4
        %h3 further afield
        %img{:src => '/images/photos/areas/what-we-do/store-house-further-afield.jpg'}
        %p
          In the winter The Storehouse send boxes of clothes and toiletries to refugees and displaced people from Syria to help them survive through severe weather and conflict. We also send toys to Ebola orphans and disabled children in Sierra Leone, and clothes to children from our
          %a{:href => 'http://kariskids.org.uk'} Karis Kids
          partners in Uganda.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Storehouse - further afield'} Get involved &raquo;
      .col-md-4
        %h3 acts 435
        %img{:src => '/images/photos/areas/what-we-do/acts435.jpg'}
        %p
          Through our Storehouse and agency contacts we identify people with limited income who have specific needs. We post needs on the
          %a{:href => 'http://acts435.org.uk'} Acts435 website
          and donors give money which is then sent to our church so that we can meet the need. If you have a need, please get in touch.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Acts 4:35'} Get in touch &raquo;
      .col-md-4
        %h3 street teams
        %img{:src => '/images/photos/areas/what-we-do/street-teams.jpg'}
        %p
          On Saturday nights, a team goes out into Winchester city centre with soup, rolls, tea, coffee, blankets, socks, hats and a listening ear. We help those on the streets by providing for basic needs and giving them someone to talk to. We also support the
          %a{:href => 'http://streetpastors.org/locations/winchester/'} Winchester Street Pastors
          scheme.
        %p
          %a{:href => 'mailto:hello@winvin.org.uk?subject=Street teams'} Get involved &raquo;

%section#wv-healing
  .shadow
  .container.wv-caption
    .row
      .col-md-12
        %h1 healing
        %p When we follow Jesus, our lives begin to change. As we grow in our faith, we may find we need to deal with the effects of the past - either things we've done which we wished we hadn’t, or things we've experienced through circumstances or relationships. God loves us and wants us to be free from the things that hold us back.
        %p Life groups and Sunday morning services are a great place to be prayed for. If we want to go deeper there are a variety of different options which are collectively called Streams of Hope. 
        %p First Stop, SOZO, Recovery, LAM, Mindfulness
        %p
          %a{:href => 'https://www.streamsofhope.org.uk/'} Find out more and Book an Appointment &raquo; 
    .row
      .col-xs-12
        %h2 events
    .row
      - @healing_events.first(3).each do |event|
        = haml :_event, locals: { event: event }

%section#wv-team.wv-team
  .container
    .row
      .col-xs-12
        %h1 meet the team
    .row
      .col-md-6
        %br
        %img.team.img-rounded{:src => '/images/team/nigel-and-jo-hemming.jpg'}
      .col-md-6
        %h2 nigel and jo hemming
        %p Nigel and Jo have led the church since 2012. Before moving to Winchester they lived in Birmingham, where they were part of the leadership team of the Vineyard Church there. Prior to that, Nigel was a musician and a teacher and Jo was an environmental protection officer. They have three wonderful children, Becky, Zac and JJ and are passionate about helping people of all ages connect with Jesus.
    %hr
    .row
      .col-md-6
        %img.team.img-rounded{:src => '/images/team/stephen-martin.jpg'}
        %h3 stephen martin
        %p Stephen oversees and organises the children and youth work at the church. He also serves on the Strategic Leadership Group.
      .col-md-6
        %img.team.img-rounded{:src => '/images/team/paul-phillips.jpg'}
        %h3 paul phillips
        %p Paul oversees the role of prayer in our church life and serves on the Strategic Leadership Group. He also works to train and develop leaders and small groups within the church.
    %hr
    .row
      .col-md-6
        %h3 jenny mackereth
        %p Jenny is responsible for The Storehouse and oversees our other compassion ministries.
      .col-md-6
        %h3 becca jones
        %p Becca is the Office Manager, responsible for administration, church operations and communications, along with her team.
    .row
      .col-md-6
        %h3 clare and mervyn suffield
        %p Clare and Mervyn coordinate the Streams of Hope counselling and healing ministries.
