!!! 5
:plain
  <!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "We are Winchester Vineyard Church: people who are getting to know Jesus better and bringing hope and life into our communities.", :name => "description"}/
  %meta{:content => "HTML,CSS,XML,JavaScript,Template,HTML5,CSS3,JS,jQuery,Ajax,portfolio,single-page,one-page,Theme,bootstrap,bootstrap 3,twitter,facebook,instagram", :name => "keywords"}/
  %title= @og_title || "Winchester Vineyard"
  %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
  %link{:href => "/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "/css/styleguide.css", :rel => "stylesheet"}/
  %link{:href => "/css/styles.css", :rel => "stylesheet"}/
  %meta{:property => "og:image", :content => "http://winvin.org.uk/images/photos/sunday-morning.jpg"}
  %meta{:property => "og:url", :content => @og_url || "http://winvin.org.uk/"}
  %meta{:property => "og:title", :content => @og_title || "Winchester Vineyard Church"}
  %meta{:property => "og:description", :content => @og_description || "We are Winchester Vineyard Church: people who are getting to know Jesus better and bringing hope and life into our communities."}
  %script#wv-news-item-template{:type => 'text/template'}
    = haml :_news_item
  %script#wv-talk-item-template{:type => 'text/template'}
    = haml :_talk_item
  %script#wv-hellobar-template{:type => 'text/template'}
    = haml :_hellobar
%body
  = yield
  %footer#wv-find-us
    .shadow
    .container
      .row
        .col-xs-12
          %h1 connect with us
      .row
        .col-sm-6
          %br
          %img.logo{:src => '/images/logo-50h-white-on-clear.png', :alt => "Winchester Vineyard Church"}
          %br
          %br
          %a{:href => 'callto:+441962863217'} +44 (0) 1962 863 217
          %br
          %br
          Write to the staff team at
          %a{:href => 'mailto:hello@winvin.org.uk'} hello@winvin.org.uk
          %br
          %br
          Winchester Vineyard
          %br
          Unit A, Bar End Industrial Estate
          %br
          Bar End Road
          %br
          Winchester
          %br
          SO23 9NR
          %br
          %br
          %a{:style => 'text-decoration: none', :href => "http://twitter.com/winvinchurch"}
            %i.fa.fa-twitter
            @winvinchurch
          %br
          %a{:style => 'text-decoration: none', :href => "https://www.facebook.com/pages/Winchester-Vineyard-Church/131929260309690?ref=bookmarks"}
            %i.fa.fa-facebook
            find us on facebook
          %br
          %br
          %img.logo{:style => 'width: 400px', :src => '/images/affiliated_to_vineyard_white.png', :alt => "affiliated to Vineyard Churches"}
          %small
            %br
            Winchester Vineyard is a company limited by guarantee (No. 3073426) and a registered charity (No. 1047868).
            %br
            %br
            "VINEYARD" is a European Union trade mark registered to Vineyard Churches UK &amp; Ireland No. 004771143. The ‘VINEYARD CHURCHES’ Logo, Vineyard ‘grapes’ device and ‘VINEYARD’ with ‘grapes’ device Logo are all registered trade marks of Vineyard Churches UK &amp; Ireland. Used here under license. All rights reserved.
        .col-sm-5
          %br
          %iframe.map{:width => '500', :height => '400', :frameborder => '0', :style => 'border: 10px solid #444', :src => 'https://www.google.com/maps/embed/v1/place?key=AIzaSyAzC_vuMaSZB_3oQxR1GJihLh33omO10ac&q=Winchester+Vineyard+Winchester+UK+SO23+9NR'}
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/custom.modernizr.js"}
  %script{:src => "/js/bootstrap.min.js"}
  %script{:src => "/js/jquery.toplink.js"}
  %script{:src => "/js/mustache.js"}
  %script{:src => "/js/markdown.min.js"}
  %script{:src => "/js/strftime.min.js"}
  %script{:src => "/js/scripts.js"}
  %script{:src => 'https://cdn.firebase.com/v0/firebase.js', :type => 'text/javascript'}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-431118-6', 'auto');
    ga('send', 'pageview');
